<div class="w-full h-full bg-gray-900 text-purple-100 flex items-center justify-center">
    <div class="py-4 px-8 bg-purple-900 rounded-md shadow-xl outline outline-1 outline-purple-400 outline-offset-4">
        <h2 class="text-sm font-bold uppercase">Roboflow / DJI</h2>
        <h1 class="text-2xl font-light">Drone Video Georeferencing Demo</h1>
        <div class="flex space-x-4 mt-4 text-white">
            <div class="bg-purple-700 rounded-md shadow-lg text-center p-4 flex-1 hover:bg-purple-600 cursor-pointer">
                <h3>Add Drone Video</h3>
                <i class="fa-regular fa-video text-4xl mt-4 mb-2"></i>
            </div>
            <div class="bg-purple-700 rounded-md shadow-lg text-center p-4 flex-1 hover:bg-purple-600 cursor-pointer">
                <h3>Add Flight Log</h3>
                <i class="fa-regular fa-file-csv text-4xl mt-4 mb-2"></i>
            </div>
        </div>
    </div>
</div>