<div id="dropContainer" class="w-full h-full bg-gray-900 text-purple-100 flex items-center justify-center">
    <div class="py-4 px-8 bg-purple-900 rounded-md shadow-xl outline outline-1 outline-purple-400 outline-offset-4">
        <h2 class="text-sm font-bold uppercase">Roboflow / DJI</h2>
        <h1 class="text-2xl font-light">Drone Video Georeferencing Demo</h1>
        <div class="flex space-x-4 mt-4 text-white">
            {{#if videoFile}}
                <div class="bg-green-700 rounded-md shadow-lg text-center p-4 flex-1">
                    <h3>Video Added</h3>
                    <i class="fa-regular fa-square-check text-4xl mt-4 mb-2"></i>
                </div>
            {{else}}
                <div id="videoButton" class="bg-purple-700 rounded-md shadow-lg text-center p-4 flex-1 hover:bg-purple-600 cursor-pointer">
                    <h3>Add Drone Video</h3>
                    <i class="fa-regular fa-video text-4xl mt-4 mb-2"></i>
                </div>
            {{/if}}
            {{#if flightLogFile}}
                <div class="bg-green-700 rounded-md shadow-lg text-center p-4 flex-1">
                    <h3>Flight Log Added</h3>
                    <i class="fa-regular fa-square-check text-4xl mt-4 mb-2"></i>
                </div>
            {{else}}
                <div id="flightLogButton" class="bg-purple-700 rounded-md shadow-lg text-center p-4 flex-1 hover:bg-purple-600 cursor-pointer">
                    <h3>Add Flight Log</h3>
                    <i class="fa-regular fa-file-csv text-4xl mt-4 mb-2"></i>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="hidden">
    <input id="videoInput" type="file" accept="video/*">
    <input id="flightLogInput" type="file" accept="text/csv, application/csv">
</div>